---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "About me",
};

import { Content as About } from "../docs/about.md";
---

<PageLayout meta={meta}>
	<div class="prose prose-base prose-cactus prose-th:before:content-none">
		<h1 class="title">About</h1>
    <!--<About />-->
	</div>
</PageLayout>
