---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { Image } from "astro:assets";
import { sortMDByDate } from "@/utils";
import profileImg from '../assets/profile.jpg';

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<style>
img {
  float: right;
  display: inline;
}

@media (max-width: 767px) {
  img {
    float: none;
    display: table;
    margin: 0 auto;
    text-align: center;
  }
}
</style>

<PageLayout meta={{ title: "Home" }}>
  <section>
    <Image
      class="rounded-full"
      width="192"
      height="192"
      src={profileImg}
      alt="profile picture"
      />
		<h1 class="title mb-6"><center>Hi! 👋 ~ I'm Jason.</center></h1>
		<p class="mb-4">
      Senior Software Engineer <a href="https://twitter.com/Walmarttech" class="cactus-link">@Walmart</a>.<br/>
		</p>
		<p class="mb-4">
      I like writing clean, effective code to solve real-world problems. <br/>
		</p>
		<p class="mb-4">
      Boston University CS ‘21.
		</p>
		<p class="mb-4">
      For more of what I’m up to, check out my <a href="/now" class="cactus-link">now</a> page.
		</p>
		<SocialList />
	</section>
  <br/>
  <hr class="solid">
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
