---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Now",
	description: "What I'm Up to Now",
};

import { Content as ReadingList } from "./readings.md";
---

<PageLayout meta={meta}>
	<div class="space-y-6 prose prose-base prose-cactus prose-th:before:content-none">
		<h1 class="title">What I'm Reading</h1>
    <ReadingList />
	</div>
</PageLayout>
